<!doctype html>
<html>
  <head>
    <title>thomas giaimo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Syne:wght@800&family=Gloock&family=Unbounded&family=Shantell+Sans:ital,wght@1,500&family=Inter">
  </head>
  <body>
    <h1>come back later... i'm under construction!</h1>
    <h2>in the mean time, you can check out <a href=/namegenerator>my name generator</a></h2>
  </body>
</html>